<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The Wall Street Journal Scrape</h1>
        <p class="lead">Artciles Scrapped from WSJ</p>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg" id="scrapeNew">Update Articles</button>
            <button type="button" class="btn btn-primary btn-lg" id="clear">Clear All</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <div id="results"></div>
    </div>
    <div class="col-1"></div>
</div>

<script src="../js/app.js"></script>
